{% extends "security/base.html" %}
{% from "_macros.html" import render_field_with_errors, render_field, render_form_errors %}

{% block security_card %}
  <h2 class="card-title mt-4 mb-5">Register</h2>
  <form action="{{ url_for_security('register') }}" method="post" name="register_user_form">
    {{ register_user_form.hidden_tag() }}
    {{ render_form_errors(register_user_form) }}

    <div class="row mx-2">
      {{ render_field_with_errors(register_user_form.email, class='form-control w-100', placeholder='Email', autofocus=true) }}
    </div>

    <div class="row mx-2">
      {{ render_field_with_errors(register_user_form.password, class='form-control w-100', placeholder='Password') }}
    </div>

    {% if register_user_form.password_confirm %}
      <div class="row mx-2">
        {{ render_field_with_errors(register_user_form.password_confirm, class='form-control w-100', placeholder='Retype password') }}
      </div>
    {% endif %}

    <div class="row mx-2">
      {{ render_field(register_user_form.submit, class='btn btn-primary w-100 mb-3') }}
    </div>
  </form>

  {% with register_page=true %}
    {% include "security/_menu.html" %}
  {% endwith %}
{% endblock security_card %}
